body {
	background-color:violet ;
	font-family: 'Times New Roman,Serif;
}

h1 {
	color: black;
	font-family:'Times New Roman, Serif;
	text-align: center;
}

h2 {
	color: #1BBC9B;
	font-family:'Times New Roman",Serif;
	text-align:center;
}


